/*=============== GOOGLE FONTS ===============*/


/*=============== VARIABLES CSS ===============*/
:root{
    --header-height: 3rem;

    /*========== Colors ==========*/
    --hue: 45; //  Yellow: 45   | Red: 4 | Orange: 18  | Green: 118
    --sat: 98%; // Yellow: 98% | Red: 90% | Orange: 85% | Green: 50%
    --first-color: ;
    --first-color-light: ;
    --first-color-lighten: ;
    --first-color-alt: ;
    --title-color: ;
    --text-color: ;
    --text-color-light: ;
    --body-color: ;
    --container-color: ;
    --scroll-bar-color: ;
    --scroll-thumb-color: ;
    

    /*========== Font and typography ==========*/
    --body-font: ;

    --biggest-font-size: ;
    --h2-font-size: ;
    --h3-font-size: ;
    --normal-font-size: ;
    --small-font-size: ;
    --smaller-font-size: ;

    // Responsive typography
    @media screen and (min-width: 968px){
        --biggest-font-size: ;
        --h2-font-size: ;
        --h3-font-size: ;
        --normal-font-size: ;
        --small-font-size: ;
        --smaller-font-size: ;
    }

    /*========== Font weight ==========*/
    --font-semi-bold: ;
    --font-bold: ;

    /*========== Margenes ==========*/
    --mb-0-5: ;
    --mb-0-75: ;
    --mb-1: ;
    --mb-1-5: ;
    --mb-2: ;

    /*========== z index ==========*/
    --z-tooltip: ;
    --z-fixed: ;
}